body{
    background-color: red;
}

.heading{
    width: 80%;
    font-size: 20px;
}

.NameOfObjects{
    color: greenyellow;
 
}

.names{
    border-left: 10px solid blue;
    height: 100px;
}

#camera{
    width: 350px;
    height: 400px;
    border: 2px solid black;
}

#result{
    width: 350px;
    height: 400px;
    border: 2px solid black;
}